.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 60px); 
  justify-content: center;
  
  .loginimg{
      width: 400px;
      height: 400px;
  }
  
  .signup-container {
    width: 500px;
    height: 400px;
  }
}

@media (max-width : 450px) {
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    // justify-content: center;
    
    .signup-container {
      margin-top: 20px;
      width: 230px;
      height: 80%;
    }
  }
  
  .loginimg {
    display: none;
  }
} 
