.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.text:focus{
  outline: none;
}
.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 14px;
  font-weight: bold;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  font-size: 13px;
}

.price-range {
  border-bottom: 1.5px solid lightgray;
  padding: 10px 0px 10px 0px;
  border-top: 1.5px solid lightgray;
}

.price-range>span {
  font-size: 12px;
  font-weight: bold;
}

.sorting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1.5px solid lightgray;
}

.sorting>span{
  font-size: 12px;
  font-weight: bold;
}

.sorting > div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.property-type {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0px 10px 0px;
}

.property-type > span {
  font-size: 12px;
  font-weight: bold;
}

.lsOptions {
  display: flex;
  font-size: 13px;
  border-radius: 5px;
  background-color: white;
  padding: 10px 0px 10px 8px;
  color: gray;
  cursor: pointer;
  margin-top: 10px;
}

.destination_input:focus{
  outline: none;
}

.emptyContainer {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  color: gray;
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

@media (max-width:751px) {
  .listHeader{
    display: none;
  }
  .listWrapper{
    flex-direction: column;
    width: 90%;
  }
  .mobileFilterView{
    display: flex;
    background-color: #febb02;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    font-weight: 500;
  }
}
